@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-primario:#FEF9E1;
    --color-secundario: #A31D1D;
    --Color-terciario: #6D2323;

    --color-hover: #272727;
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
    /*height: 100vh*/
}
.header{
    padding: 2% 0% 0% 15%;

}
.header__menu{
    display: flex;
    gap: 80px;
  
}
.header__menu--link{
    font-family: var(--fuente-montserrat);
    font-size: 18px;
    font-weight: 600;
    color: var(--Color-terciario);
    text-decoration: none;
}
.header__menu--link:hover{
    color: var(--color-secundario);
}
.presentacion{
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
strong{
    color: var(--Color-terciario);
}
.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.presentacion__contenido--titulo{
    font-size: 36px;
    font-family: var(--fuente-krona);
}
.presentacion__contenido--texto{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
    text-align: justify;    
}

.presentacion__contenido--lista{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}
.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.presentacion__enlaces--subtitulo{
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-secundario);
}
.Presentacion__contenido--link{
    text-align: center;
    padding: 21.5px 0;
    width: 378px; 
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    font-size: 24px;
    margin: 5px;
    color: var(--color-secundario);
    text-decoration: none;
    border: 2px solid var(--Color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.Presentacion__contenido--link:hover{
    background-color: var(--color-hover);
    width: 450px;
    border: 2px solid var(--color-secundario);
    cursor: pointer;
}
.footer{
    background-color: var(--Color-terciario);
    color: var(--color-primario);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 400;
}
.presentacion__contenido--texto a{
    text-decoration: none;
    color: var(--Color-terciario);
}