@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: #f6f6f6;
    box-sizing: border-box;
    /*height: 100vh*/
}
.header{
    padding: 2% 0% 0% 15%;

}
.header__menu{
    display: flex;
    gap: 80px;
  
}
.header__menu--link{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #22d4fd;
    text-decoration: none;
}
.header__menu--link:hover{
    color: #007bff;
}
.presentacion{
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo-blog{
    color: red;
}
strong{
    color:aqua;
}
.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.presentacion__contenido--titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.presentacion__contenido--texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion__contenido--lista{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.presentacion__enlaces--subtitulo{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #F6F6F6;
}
.Presentacion__contenido--link{
    text-align: center;
    padding: 21.5px 0;
    width: 378px; 
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 5px;
    color: #f6f6f6;
    text-decoration: none;
    border: 2px solid #22d4fd;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.Presentacion__contenido--link:hover{
    background-color: #272727;
    width: 450px;
    border: 2px solid #ffffff;
    cursor: pointer;
}
.footer{
    background-color: #22d4fd;
    color: #000000;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.presentacion__contenido--texto a{
    text-decoration: none;
    color: #22D4FD;
}